import(HMMcopy, plyr, GenomeInfoDb)
export(loadReadCountsFromWig, normalizeByPanelOrMatchedNormal, getDefaultParameters,
       HMMsegment, plotGWSolution, correctIntegerCN, wigToGRanges, outputHMM, outputParametersToFile, plotSolutions)
