import(HMMcopy, plyr, GenomeInfoDb)
export(loadReadCountsFromWig, normalizeByPanelOrMatchedNormal, getDefaultParameters,
       HMMsegment, plotGWSolution, outputHMM, outputParametersToFile, plotSolutions)
